//- works.pug
extends layout/base.pug

block content
  .main-content
    .p-block
      .portfolio-item
        img(src="../img/image1.jpg")
        .portfolio-bg
          h1 Название 1
          h3 Описание работы 1
      .portfolio-item
        img(src="../img/image2.jpg")
        .portfolio-bg
          h1 Название 2
          h3 Описание работы 2