* {
  box-sizing: border-box;
}

body {
  margin: 0; // Устанавливает величину отступа от каждого края элемента
  padding: 0; // Устанавливает значение полей вокруг содержимого элемента
  overflow: hidden; //Отображается только область внутри элемента, остальное будет скрыто.
  padding: 0 5% 0 5%; // Читай отступ: сверху, справа, снизу, слева.
}

.navigation {
  display: flex; // Элемент ведёт себя как блочный и выкладывает содержимое согласно флекс-модели.
  align-items: center; // Флексы выравниваются в начале поперечной оси контейнера.
  justify-content: flex-start; // Флексы прижаты к началу строки.
  a {
    font-size: 24px; // размер шрифта
    padding: 5px 15px;
    font-weight: 900; // Жирность шрифта
    color: red;
    text-decoration: none; Убрать подчеркивание у ссылок

  }
  
}

#footer {
  border: .1px solid black; // слошная рамка черного цвета вокруг footer
  padding: 5px 15px;
}
